<table>
  <form action='/entries' method='post'>
    <tr>
      <td>Title:</td>
      <td><input type='text' name='entry[title]' required></td>
    </tr>
    <tr>
      <td>Body:</td>
      <td><input type='text' name='entry[body]' required></td>
    </tr>
    <tr>
      <td>(optional) Tags:</td>
      <td><input type='text' name='tag[tags]'></td>
    </tr>
    <tr>
      <td></td>
      <td><input type='submit' value='Post Entry'></td>
    </tr>
  </form>
</table>
