<table>
  <form action='/users/<%= @user.id %>' method='post'>
    <input type='hidden' name='_method' value='put'/>
      <tr>
        <td>Full name:</td>
        <td><input type='text' name='user[author_name]' value="<%=@user.author_name%>" required></td>
      </tr>
      <tr>
        <td>Email address:</td>
        <td><input type='text' name='user[email]' value="<%=@user.email%>" required></td>
      </tr>
      <tr>
        <td></td>
        <td><input type='submit' value='Update profile'></td>
      </tr>
    </form>
    <form action='/users/<%=@user.id%>' method='post'>
    <input type='hidden' name='_method' value='delete'/>
      <tr>
        <td><h5>CANNOT BE UNDONE!</h5></td>
        <td><input type='submit' value='Delete profile?'></td>
      </tr>
    </form>
  </table>

