<div>
  <table>
    <tr>
      <td>User's name:</td>
      <td><%= @user.author_name %></td>
    </tr>
    <tr>
      <td>User's email:</td>
      <td><%= @user.email %></td>
    </tr>
  </table>

</div>
